.images-list {
    padding: 20px;  
  }

  .images-list ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
  }

  .images-list li {
    border: 1px solid #333;
    background: #fff; 
    display: flex;
    flex-flow: column;
    position: relative;
    transition: transform 0.5s;
  }

  .images-list li:hover {
    transform: scale(1.1);
  }

  .images-list li img.main {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
  }

  .images-list li div {
    padding: 5px 10px;
  }

  .images-list li .actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
 
  .images-list li .actions img { 
    height: 15px;
    cursor: pointer;
  }