.images-list {
    padding: 20px;  
  }

  .images-list ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
  }

  .images-list li {
    border: 1px solid #333;
    background: #fff; 
    display: flex;
    flex-flow: column;
    position: relative;
    transition: transform 0.5s;
  }

  .images-list li:hover {
    transform: scale(1.1);
  }

