<section>
    <div *ngIf="showPagination">pagination</div>
    <div>
        <select (change)="perPageChanged($event)" >
           <option *ngFor="let quantity of [5, 10, 15, 20]" [value]="quantity" [selected]="perPage===quantity">{{quantity}}</option>
        </select>        
    </div>
    <div>slideshow</div>
    <div *ngIf="showSorting">
        <select (change)="sortBy($event)">
          <option value="">sort by</option>
          <option value="title">Title</option>
          <option value="date">Date</option>
        </select>
    </div>
    <div *ngIf="showSearch">
        <input (input)="search($event)" placeholder="search" name="search"/>
    </div>
</section>
